@{
    ViewData["Title"] = "Editar de Recompensas";
}
@model ScoreSystem.Entidades.Recompensas
<h3 class="ms-2 text-light"><i class="bi bi-bookmark-fill"></i> Editar Recompensa</h3>

<form action="/Recompensas/SalvarDados" method="post">

    <div class="card shadow">
        <div class="card-body">

            <div class="row g-2">
                <input type="hidden" name="CODIGO" value="@Model.CODIGO">

                <div class="col-12 col-lg-7">
                    <label for="titulo" class="form-label m-1">Titulo da Recompensa</label>
                    <input type="text" name="TITULO" value="@Model.TITULO" class="form-control form-control-sm" id="titulo">
                </div>
                <div class="col-6 col-lg-1">
                    <label for="Ponto" class="form-label m-1">Pontos</label>
                    <input type="text" name="PONTO" value="@Model.PONTO" class="form-control form-control-sm" id="Ponto">
                </div>

                <div class="col-6 col-lg-2">
                    <label for="DtVencimento" class="form-label m-1">Vencimento</label>
                    <input type="datetime-local" name="DT_VENCIMENTO" value="@Model.DT_VENCIMENTO.ToString("yyyy-MM-ddTHH:MM")" class="form-control form-control-sm" id="DtVencimento">
                </div>

                <div class="col-12">
                    <label for="Descricao" class="form-label m-1">Descrição do Cupom</label>
                    <textarea class="form-control DescTextarea" name="DESCRICAO" id="Descricao" rows="3">@Model.DESCRICAO</textarea>
                </div>


            </div>

        </div>

        <div class="card-footer">

            <div class="row g-2">

                <div class="col-6">

                    <div class="form-check">
                        <input class="form-check-input" name="ATIVO" type="checkbox" value="@Model.ATIVO" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Ativado
                        </label>
                    </div>

                </div>


                <div class="col-6 d-inline-flex justify-content-end gap-2">

                    <a href="/Recompensas/Lista" class="btn btn-sm btn-outline-danger BtnCancelar">Cancelar</a>
                    <button type="submit" class="btn btn-sm btn-success BtnSalvar">Salvar</button>

                </div>

            </div>

        </div>

    </div>

</form>

<script src="~/lib/sweet-alert/sweetalert.min.js"></script>

@if (TempData["Sucesso"] != null)
{

    <script type="text/javascript">
        swal("Sucesso", "@TempData["Sucesso"]", "success");
    </script>

}